.navbar{
    color: white;
    position: fixed;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
    top: 0;
    width: 100%;
    font-size: 14px;
    z-index: 100;
    &.scroll{
        background-color: var(--main-color);
    }
    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 50px;
                margin-right: 40px;
            }
            span{
                margin-right: 20px;
            }
        }

        .right{
            display: flex;
            align-items: center;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
            }
            .icon{
                margin: 0px 15px;
                cursor: pointer;
            }

            .profile{
                // width: 100%;
                .options{
                    display: none;
                    background-color: var(--main-color);
                }
                &:hover{
                    .options{
                        display: flex;
                        padding: 16px;
                        width: 100%;
                        border-radius: 5px;
                        cursor: pointer;
                        flex-direction: column;
                        position: absolute;
                        background-color: var(--main-color);
                        hr{
                            width: 60%;
                            align-self: center;
                            
                        }
                        span{
                            padding: 4px;
                            width: 100%;

                            border-radius: 3px;
                            &:hover{
                                background-color: gray;
                            }
                        }
                    }
                }
            }
        }
        
    }
}